html {
    height: 100%;
    background-color: white;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    background-color: white;
    margin: 0;
    padding: 0;
}

.top-container {
    background: #EFF2F5;
    box-shadow: 0 2px 2px 0 rgba(140, 155, 165, 0.25);
    text-align: center;
    color: #42535C;
    margin-bottom: 28px;
}

.maindiv {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.middle-container {
    background: white;
    text-align: left;
    margin-left: 10%;
    margin-bottom: 46px;
}

.bottom-container {
    background: #F5F7FA;
    box-shadow: 0 2px 2px 0 rgba(140, 155, 165, 0.25);
    flex-grow: 1;
}

.bottom-container-data {
    display: inline-block;
    margin-top: 31px;
    margin-left: 10%;
    min-width: 80%;
}

.button5 {
    background: silver;
    border-radius: 50%;
    font-family: IBMPlexMono;
    font-size: 24px;
    height: 80px;
    width: 80px;
    border: none;
    text-decoration: none;
    cursor: pointer;
}

.token-title {
    font-family: IBMPlexSans;
    font-size: 14px;
    color: #000000;
    margin-bottom: 21px;
}

.token-info {
    font-family: IBMPlexMono;
    background: #FFFFFF;
    box-shadow: 0 2px 2px 0 rgba(140, 155, 165, 0.25);
    font-size: 14px;
    color: #152934;
    line-height: 24px;
    font-weight: normal;
    padding: 15px 20px 20px 32px;
    margin-right: 90px;
    margin-bottom: 20px;
}

.logout {
    margin-right: 24px;
}

.logout-icon {
    margin-top: 10px;
    float: right;
}

p.ex1 {
    border: 1px solid red;
    padding: 15px;
    width: 220px;
    style: 'display:none';
    margin-bottom: 30px;
}

.hello-text {
    font-family: IBMPlexSans-Light;
    font-size: 26px;
    color: #000000;
    letter-spacing: 0;
    line-height: 26px;
    margin-bottom: 30px;
}

.above-button-text {
    font-family: IBMPlexSans-Light;
    font-size: 24px;
    color: #000000;
    letter-spacing: 0;
    margin-bottom: 13px;
}

.button {
    background: #4178BE;
    border: none;
    text-decoration: none;
    cursor: pointer;
    height: 36px;
    width: 222px;
}

.button-text {
    font-family: IBMPlexSans-Medium;
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    margin: 8px 20px 10px 12px;
}

.hide {
    display: none;
}

.top {
    background: #5596E6;
    color: white;
    font-size: 16px;
    font-weight: lighter;
    box-shadow: 0 4px 2px 0 rgba(140, 155, 165, 0.25);
    padding-bottom: 40px;
}

#menu li {
    padding: 5px 15px;
    border-top: 1px solid #eaeaea;
}

#menu ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

#menu li:nth-child(1) {
    border-top: 0;
}

#menu li a {
    color: black;
}

.flex-top {
    flex: 1;
    text-align: center;
}

.view-token-button-div {
    font-family: IBMPlexSans-Medium;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    background-color: #4178BE;
    border: none;
    padding: 10px 40px;
    text-decoration: none;
    cursor: pointer;
    width: 158px;
    height: 40px;
    margin-bottom: 4px;
}