.collapsibleButton {
	display: flex;
	margin: 0 auto;
	cursor: pointer;
	padding: 15px;
	width: 700px;
	border: none;
	outline: none;
	font-size: 14px;
	text-align: left;
	padding: 15px;
	font-family: 'IBMPlexSans-Medium', sans-serif;
	box-shadow: 0px -1px 5px 0px rgba(0, 0, 0, 0.15);
}
@-moz-document url-prefix() {
	.collapsibleButton {
		font-family: 'IBM Plex Sans Medium', sans-serif;
	}
}

.collapsibleButtonClicked {
  display: flex;
	margin: 0 auto;
	cursor: pointer;
  padding: 15px;
  margin-top: 10px;
	width: 800px;
	border: none;
	outline: none;
	font-size: 14px;
	text-align: left;
	padding: 15px;
	font-family: 'IBMPlexSans-Medium', sans-serif;
	box-shadow: 0px -1px 5px 0px rgba(0, 0, 0, 0.15);
}
@-moz-document url-prefix() {
	.collapsibleButtonClicked {
		font-family: 'IBM Plex Sans Medium', sans-serif;
	}
}

.active {
  transform: rotate(180deg);
  margin-right: 20px;
}
.expand {
  transform: rotate(0deg);
  margin-right: 20px;
}
.contentHidden {
  display: none;
}

.contentShown {
  display: block;
	overflow: hidden;
	padding: 15px;
	width: 770px;
  margin: 0 auto;
  margin-bottom: 20px;
	font-family: 'IBMPlexSans-light', sans-serif;
	font-size: 1vw;
	word-break: break-all;
	box-shadow: 0px -1px 5px 0px rgba(0, 0, 0, 0.15);
}
@-moz-document url-prefix() {
	.contentShown {
		font-family: 'IBM Plex Sans Light', sans-serif;
	}
}
