<style>
  .hide {display: none;}
  .show {display: block;}
</style>

<button
  [ngClass]="buttonStyle"
  style="background-color: #4178BE; width: 270px; height: 40px;color: #FFFFFF;font-size: 14px;border: none; margin: 10px 5px;"
  (click)="onLoginClick()">Login with IBM Cloud App ID
</button>
<p [ngClass]="messageStyle" style="margin-left: 10px;">Hi {{userName}} congratulations! You are now authenticated </p>
<div [ngClass]="errorStyle" style="margin-left: 10px; color: red;">{{errorMessage}}</div>
