<div class="wrapper">
  <span><b>IBM Cloud AppID SDK Sample SPA</b></span>
</div>
<div [ngClass]="style">
  <div class="welcome-display">
    <img alt="App ID Logo" class="logo-icon" src="../assets/images/app_id_icon.svg">
    <p>
      Welcome to the<br/>
      IBM Cloud App ID SPA SDK<br/>
      Sample App
    </p>
    <button id="login" (click)="onLoginClick()">Login</button>
    <div id="error">{{errorMessage}}</div>
  </div>
  <div class="hintSection">
    <div class="flex-bottom"><img alt="hint image" id="hintIcon" src="../assets/images/hint_icon.svg"></div>
    <div class="flex-bottom">
      Hint: To get started, click<br>
      the Login button above to reveal<br>
      the App ID login Pop-up window.
    </div>
  </div>
</div>
<div [ngClass]="displayState">
  <div class="welcome-display">
    <p id="welcomeNameID">{{userName}}</p>
    <p id="welcomeMessageII">You've made your first authentication.</p>
  </div>
  <div class="token-display">
    <h4>ID Token</h4>
    <hr/>
    <p>{{idToken}}</p>
  </div>
  <div class="info-display">
    <h4>User Information</h4>
    <hr/>
    <p>{{userData}}</p>
  </div>
</div>

