.hide {display: none;}
.show {display: block;}
#button {
  background-color: #4178BE;
  width: 270px;
  height: 40px;
  color: #FFFFFF;
  font-size: 14px;
  border: none;
  margin: 30px 15px;
}
#message {margin-left: 15px;}
#error {
  margin-left: 15px;
  color: red;
}
